body {
    margin: 60px auto;
    width: 70%;
}

.center-600 {
    margin: 0 auto;
    width: 80%;
}

.me-intro {
    float: left;
    margin-left: 20px;
    font-weight: 300;
    font-size: 20px;
    color: gray;
    width: 400px;
    padding-top: 10px;
}

#me-img {
    position: relative;
    float: left;
    opacity: 0.85;

   transition: opacity 1s;
   -moz-transition: opacity 1s;
   -webkit-transition: opacity 1s;
} #me-img:hover { opacity: 1; }

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #9A4A4A;
}

a:hover {
    color: #DC6A6A !important;
    text-shadow: 0.5px 0px 0.1px #9A4A4A;
    text-decoration: underline overline;
}

a:visited { color: #9A4A4A; }


h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}